<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/scripts/modernizer.js"></script>

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/mainbs.css" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/stylesheets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/stylesheets/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/stylesheets/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/stylesheets/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/stylesheets/bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/stylesheets/bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/stylesheets/bootstrap/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Blog</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

        <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>{{Title}}</h1>
        <p><ul>
                            <li>Click on the play button of the audio control to start playing the currently selected track.</li>
                            <li>Click on either the <span class="simBtn">&nbsp;|&lt;&lt; Prev Track&nbsp;</span> or <span class="simBtn">&nbsp;Next Track &gt;&gt;|&nbsp;</span> button to select the previous or next track.</li>
                            <li>If no other controls are clicked, tracks will be played one at a time in the order shown in the playlist.</li>
                        </ul></p>
                                            <div id="content" role="main">
                <div id="cwrap">
                    <div id="nowPlay" class="is-audio">
                        <div id="npAction">Paused: </div>
                        <div id="npTitle"></div>
                    </div>
                    <div id="audiowrap">
                        <div id="audio0">
                            <audio id="audio1" controls="controls">
                                Your browser does not support the HTML5 Audio Tag.
                            </audio>
                        </div>
                        <noscript>Your browser does not support JavaScript or JavaScript has been disabled. You will need to enable JavaScript for this page.</noscript>
                        <div id="extraControls" class="is-audio">
                            <button id="btnPrev" class="btn btn-primary btn-small">|&lt;&lt; Prev Track</button> <button id="btnNext" class="btn btn-primary btn-small">Next Track &gt;&gt;|</button>
                            <button id="btnRnd" class="btn btn-primary btn-small">Random Track &gt;&gt;|</button>

                        </div>
                    </div>
      </div>

    <div class="container">

                    <div id="plwrap" class="is-audio">
                        <div class="plHead">
                            <div class="plHeadNum">#</div>
                            <div class="plHeadTitle">Title</div>
                            
                        </div>
                        <div class="clear"></div>
                          {% for s in sessions %}
                          <div class="SessionBox"><ul><div class="UseSession"><li><div class="useSessionName">{{sessions.index(s)+1}} - {{s}}</div></li></div><div class="useTrackItem"><ul class="plUL">

                            {% for t in tracks[s] %}
                            <li class="plItem"><div class="plNum">{{ t['track'] }}</div><div class="plTitle">{{ t['tracknumber'] }} - {{ t['trackname'] }}</div></li>{% endfor %}

                          </ul></div></ul></div>
                          {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /container -->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"><\/script>')</script>
        <!--script src="/scripts/player.js"></script>-->
        <script type="text/JavaScript">

            jQuery(function($) {
                var supportsAudio = !!document.createElement('audio').canPlayType;
                if(supportsAudio) {
                    var index = 0,
                    playing = false;
                    extension = 'mp3',{% endautoescape %}
                    tracks = [
                    {% for s in sessions %} {% for t in tracks[s] %} {{t}}, 
                    {% endfor %}{% endfor %}
                    ],
                    trackCount = tracks.length,
                    npAction = $('#npAction'),
                    npTitle = $('#npTitle'),
                    audio = $('#audio1').bind('play', function() {
                        playing = true;
                        npAction.text('Now Playing:');
                    }).bind('pause', function() {
                        playing = false;
                        npAction.text('Paused:');
                    }).bind('ended', function() {
                        npAction.text('Paused:');
                        if((index + 1) < trackCount) {
                            index++;
                            loadTrack(index);
                            audio.play();
                        } else {
                            audio.pause();
                            index = 0;
                            loadTrack(index);
                        }
                    }).get(0),
                    btnPrev = $('#btnPrev').click(function() {
                        if((index - 1) > -1) {
                            index--;
                            loadTrack(index);
                            if(playing) {
                                audio.play();
                            }
                        } else {
                            audio.pause();
                            index = 0;
                            loadTrack(index);
                        }
                    }),
                    btnNext = $('#btnNext').click(function() {
                        if((index + 1) < trackCount) {
                            index++;
                            loadTrack(index);
                            if(playing) {
                                audio.play();
                            }
                        } else {
                            audio.pause();
                            index = 0;
                            loadTrack(index);
                        }
                    }),
                    btnRnd = $('#btnRnd').click(function() {
                        playTrack(Math.ceil(Math.random()*trackCount));
                        
                    }),
                    li = $('.plUL li').click(function() {
                        var id = parseInt($(this).context.firstChild.innerText)-1;
                        if(id !== index) {
                            playTrack(id);
                        }
                    }),
                    loadTrack = function(id) {
                        $('.plSel').removeClass('plSel');
                        $('.plUL li:eq(' + id + ')').addClass('plSel');
                        npTitle.html("<a href='"+tracks[id].file+"''>"+tracks[id].name+"</a>");
                        document.title = tracks[id].name;
                        index = id;
                        //audio.src = mediaPath + tracks[id].file + extension;
                        audio.src = tracks[id].file
                    },
                    playTrack = function(id) {
                        loadTrack(id);
                        audio.play();
                    };
                    
                    extension = '.mp3';

                    loadTrack(index);
                }

                $('.useLegend').click(function(e) {
                    e.preventDefault();
                    $('.use').slideToggle(300, function() {
                        $('#useSpanSpan').text(($('.use').css('display') == 'none' ? 'show' : 'hide'));
                    });
                });

                $('.UseSession').click(function(e) {
                    e.preventDefault();
                    $(this).next().slideToggle(500);

                });

            });

            
   
        </script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/stylesheets/bootstrap/js/jquery.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-button.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap-typeahead.js"></script>

  </body>
</html>
